{
	margin: 0;
	padding: 0;
	box-sizing: box-shadow;
}
body {
	font-size: 1.3rem !important;
	background-color: lightblue;
	font-family: Verdana, Geneva,sans-serif !important ;
}
.size {
	width: 500px !important;
	hegiht: 500px !important;
	object-fit: fill;
}

.text-size {
	font-size: 2rem !important;
}

.text-size2 {
	font-size: 1.8rem !important;
}